In [1]:
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

pd.set_option("display.width", 1000)
pd.set_option("display.max_rows", 500)

types = {
    "Invoice/Item Number": object,
    "Date": object,
    "Store Number": int,
    "Store Name": object,
    "Address": object,
    "City": object,
    "Zip Code": object,
    "Store Location": object,
    "County Number": object,
    "County": object,
    "Category": float,
    "Category Name": object,
    "Vendor Number": float,
    "Vendor Name": object,
    "Item Number": object,
    "Item Description": object,
    "Pack": int,
    "Bottle Volume (ml)": int,
    "State Bottle Cost": float,
    "State Bottle Retail": float,
    "Bottles Sold": int,
    "Sale (Dollars)": float,
    "Volume Sold (Liters)": float,
    "Volume Sold (Gallons)": float,
}

df = pd.read_csv("Iowa_Liquor_Sales.csv", dtype=types, parse_dates=["Date"])
df["Item Number"] = pd.to_numeric(
    df["Item Number"], errors="coerce", downcast="integer"
)
df = df.dropna(subset=["Item Number"])

df_itemNames = df[
    ["Item Number", "Item Description", "Pack", "Bottle Volume (ml)", "Category Name"]
].drop_duplicates(keep="first", subset=["Item Number"]).fillna("-")


df_itemNames["Item Number"] = pd.to_numeric(
    df_itemNames["Item Number"], errors="coerce", downcast="integer"
)

df_storeNames = df[["Store Number","Store Name", "Store Location", "City"]].drop_duplicates(keep="first", subset=["Store Number"])
df_storeNames["Store Number"] = pd.to_numeric(
    df_storeNames["Store Number"], errors="coerce", downcast="integer"
)

In [2]:
df['Store Location'] = df['Store Location'].str[6:]
df['long'] = df['Store Location'].str.split(" ", 2).str[0].str[1:].astype(float)
df['lat'] = df['Store Location'].str.split(" ", 2).str[1].str[:-1].astype(float)

C:\Users\Maxca\AppData\Local\Temp\ipykernel_42844\3484334673.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df['long'] = df['Store Location'].str.split(" ", 2).str[0].str[1:].astype(float)
C:\Users\Maxca\AppData\Local\Temp\ipykernel_42844\3484334673.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df['lat'] = df['Store Location'].str.split(" ", 2).str[1].str[:-1].astype(float)

In [3]:
locations = df[['long','lat','Volume Sold (Liters)']]\
    .dropna().groupby(['long','lat'])\
        .agg({'Volume Sold (Liters)': 'sum'})\
            .reset_index()\
                .rename(columns={'Volume Sold (Liters)': 'liters'})
                    
locations['coords'] = locations[['long', 'lat']].values.tolist()

# locations[['liters','coords']].to_json("data.json", orient="records")

# print(locations)

            long        lat    liters                                   coords
0    -104.845334  38.848017      9.00                 [-104.845334, 38.848017]
1    -101.924438  51.856783     12.00                 [-101.924438, 51.856783]
2    -100.022029  37.763303   3132.66                 [-100.022029, 37.763303]
3     -96.563290  42.822746    392.00            [-96.563289983, 42.822745979]
4     -96.563290  42.822746    852.92  [-96.56328998299995, 42.82274597900005]
...          ...        ...       ...                                      ...
8661  -80.345220  42.022560  17959.66                    [-80.34522, 42.02256]
8662  -78.416590  40.514190    791.70                    [-78.41659, 40.51419]
8663  -77.311870  35.962780   3647.59                    [-77.31187, 35.96278]
8664  -73.982421  40.305231   5046.15                  [-73.982421, 40.305231]
8665  -73.982421  40.305231  10559.68         [-73.982421, 40.305231000000006]

[8666 rows x 4 columns]

In [4]:
print(len(df))
print(len(df['Item Number'].unique()))
print(len(df['Store Number'].unique()))
print(df['Volume Sold (Liters)'].sum())
print(df['Bottles Sold'].sum())
print(len(df['City'].unique()))
print(df['Sale (Dollars)'].sum())

26840918
12598
2952
245960556.77000034
287866700
482
3834034245.360009

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:

itemByStorePivot = pd.pivot_table(df, values='Volume Sold (Liters)', index='Item Number', columns='Store Number', aggfunc='sum')

def busiestStore(x):
    
    try:
        return itemByStorePivot[itemByStorePivot.index == x.iloc[0]].idxmax(axis=1).iloc[0].astype(int)
        
    except Exception as e:
        print(x)
        print(e)
        return 0


df['busiestStore'] = df['Item Number']
itemStats = pd.pivot_table(
    df,
    index=['Item Number'],
    aggfunc={'Store Number': lambda x: len(x.unique()),
        'Volume Sold (Liters)':np.sum,
        'State Bottle Retail':np.average,
        'busiestStore': busiestStore,
        }
    ).reset_index()

itemStats.columns = ['item_number', 'price_avg_usd', 'store_count', 'sold_liters', 'busiest_store_id']


itemStats = pd.merge(itemStats, df_storeNames, left_on='busiest_store_id', right_on='Store Number', how='left')\
    .drop(columns=['Store Number', 'Store Location'])\
        .rename(columns={'Store Name':'store_name', 'City':'store_city'})
        
itemStats['store_name'] = itemStats['store_name'].str.split(' / ').str[0]

In [7]:
df['weekday'] = df['Date'].dt.weekday

print(df[['weekday','Item Description']].head())
print(df.weekday.mode())
print(df['weekday'].value_counts())

   weekday               Item Description
0        2      ADMIRAL NELSON SPICED RUM
1        1  JEREMIAH WEED SWEET TEA VODKA
2        2          PATRON SILVER TEQUILA
3        1               FIVE O'CLOCK GIN
4        2        FAMILIA CAMARENA SILVER
0    1
Name: weekday, dtype: int64
1    6239934
2    6178458
0    5802969
3    4904229
4    3477762
5     220280
6      17286
Name: weekday, dtype: int64

In [8]:
corr = df[['Store Number','Vendor Number','Item Number','Bottle Volume (ml)','State Bottle Retail','Bottles Sold','Volume Sold (Liters)','weekday']].corr()

corr.style.background_gradient(cmap='RdYlGn')

In [9]:
from DataLink import DataLink
import dotenv
import os
dotenv.load_dotenv('../.env')

link = DataLink(os.environ["POSTGRES_USER"], os.environ["POSTGRES_PASSWORD"], "db", 
                host="192.168.0.113"
                )

# # df.set_index('Item Number').to_sql("liquor", link.engine, if_exists="replace", index=True, index_label=['Item Number'], chunksize=1_000_000)
itemStats.set_index('item_number').to_sql("liquor_store_stats", link.engine, if_exists="replace", index=True, index_label=['item_number'], chunksize=1_000_000)

598

In [10]:
pivotDf = (
    pd.pivot_table(
        df,
        index="Store Number",
        columns="Item Number",
        values="Bottles Sold",
        aggfunc=lambda x: x.sum(),
    )
    .reset_index()
    .fillna(0)
    .drop("Store Number", axis=1)
)
print(pivotDf.shape)

(2952, 12598)

In [11]:
from numpy.linalg import svd

matrix = pivotDf.values
u, s, vh = svd(matrix, full_matrices=False)
k = 1024
U = u[:, :k]
VT = vh[:, :k]

In [12]:
print(pd.DataFrame(VT).head())
print(pd.DataFrame(VT).shape)
print(VT[0].shape)

           0             1             2             3             4         5         6         7             8             9     ...      1014      1015      1016      1017      1018      1019      1020      1021      1022      1023
0 -8.968078e-07 -3.372753e-06 -5.527936e-06 -1.275140e-06 -9.218630e-07 -0.000004 -0.000039 -0.000006 -7.767270e-07 -1.214606e-06  ... -0.000003 -0.000148 -0.011214 -0.011137 -0.000818 -0.000743 -0.000091 -0.002868 -0.000005 -0.000017
1  6.439515e-06  1.434550e-05  1.426490e-05  2.948490e-06  5.467430e-06  0.000046  0.000218  0.000002  5.197317e-06  8.000281e-06  ...  0.000017  0.000678  0.012070 -0.003141  0.003049  0.000758  0.000218  0.008297  0.000010  0.000015
2 -4.227308e-06 -8.268627e-06 -6.766992e-06 -2.230809e-06 -5.005382e-06 -0.000021 -0.000259  0.000004 -3.067320e-06 -3.023768e-06  ... -0.000016 -0.000287 -0.023393  0.009255 -0.016606 -0.000127 -0.000105 -0.004608 -0.000008 -0.000069
3 -6.828956e-07  2.311354e-07 -9.773650e-06 -2.553841e-06 -5.184596e-07  0.000005 -0.000014  0.000006 -1.090101e-06 -5.185920e-07  ...  0.000002 -0.000016  0.008353  0.007801  0.028204  0.000347  0.000021 -0.002603  0.000005  0.000111
4  6.346511e-06  1.578094e-05  3.877704e-07  3.950639e-07  7.550979e-06  0.000044  0.000371  0.000007  4.529209e-06  5.247095e-06  ...  0.000030  0.000560  0.007361  0.001006 -0.019546  0.000992  0.000253  0.004727  0.000019 -0.000073

[5 rows x 1024 columns]
(2952, 1024)
(1024,)

In [13]:
from elasticsearch import Elasticsearch

client = Elasticsearch("http://192.168.0.113:9200")
print(client.info()['tagline'])

You Know, for Search

In [14]:
# 'Item Number','Item Description','Pack','Bottle Volume (ml)','Category Name'

request_body = {
    "mappings": {
        "properties": {
            "productCode": {"type": "integer"},
            "embed": {
                "type": "dense_vector",
                "dims": 1024,
                "index": True,
                "similarity": "cosine",
            },
            "name": {"type": "text"},
            "pack": {"type": "integer"},
            "vol_ml": {"type": "integer"},
            "category": {"type": "text"},
        }
    }
}
print("creating index...")
client.indices.create(index="liquoridx", body=request_body)

creating index...

C:\Users\Maxca\AppData\Local\Temp\ipykernel_18476\4004473712.py:21: DeprecationWarning: The 'body' parameter is deprecated and will be removed in a future version. Instead use individual parameters.
  client.indices.create(index="liquoridx", body=request_body)

ObjectApiResponse({'acknowledged': True, 'shards_acknowledged': True, 'index': 'liquoridx'})

In [16]:
for embed, prodCode in zip(VT, pivotDf.columns.to_list()):
    sliceOfMeta = df_itemNames[df_itemNames["Item Number"] == prodCode]
    
    # print(sliceOfMeta)
    
    # break
    doc = {
        "productCode": prodCode,
        "embed": embed,
        "name": sliceOfMeta["Item Description"].iloc[0],
        "pack": sliceOfMeta["Pack"].iloc[0],
        "vol_ml": sliceOfMeta["Bottle Volume (ml)"].iloc[0],
        "category": sliceOfMeta["Category Name"].iloc[0],
    }

    try:
        client.index(index="liquoridx", document=doc)
    except Exception as e:
        print(prodCode, e)

In [17]:
client.indices.refresh(index="liquoridx")

ObjectApiResponse({'_shards': {'total': 2, 'successful': 1, 'failed': 0}})

In [ ]:
# Fuzzy search

body = {"match": {"name": {"query": "blueberry", "fuzziness": "AUTO"}}}


find = client.search(
    index="liquoridx", query=body, source=["productCode", "name", "embed"]
)
print(find)

for hit in find.body["hits"]["hits"]:
    print(hit)

In [ ]:
# Vector search


# first find the id
searchWord = "Finlandia Rasberry"

body = {"match": {"name": {"query": searchWord, "fuzziness": "AUTO"}}}
find = client.search(index="liquoridx", query=body, source=["productCode", "name"])

topMatchCode = int(find.body["hits"]["hits"][0]["_source"]["productCode"])

# retrieve the embedding for that id

body = {"match": {"productCode": {"query": topMatchCode}}}
find = client.search(
    index="liquoridx", query=body, source=["productCode", "name", "embed"])

embeddingArr = find.body["hits"]["hits"][0]["_source"]["embed"]

# Similarity search


body = {
    "field": "embed",
    "query_vector": embeddingArr,
    "k": 10,
    "num_candidates": 30
}

find = client.search(
    index="liquoridx",
    source=["productCode", "name"],
    knn= body,
)


for hit in find.body["hits"]["hits"]:
    print(hit)